body{
  text-align: center;

}

#locally {
  display: inline-block;
  width: 400px;
  height: 250px;
  border: 1px solid black;
}

#online {
    display: inline-block;
  width: 400px;
  height: 250px;
  border: 1px solid black;
}
