* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #2710d3;
}
body #winner {
  margin-top: 20px;
}
body p {
  font-family: fantasy;
  font-size: 1.5em;
}
body h1, body h2, body h3 {
  font-family: fantasy;
  font-size: 2.5em;
}
body #matchup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 390px;
  margin: 30px auto 9px;
}
body #matchup .turn-display {
  text-decoration: black underline 3px;
  font-size: 2.7em;
}
body #matchup .matchup-circle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 5px solid black;
}
body #matchup .matchup-circle-zoom {
  height: 53px;
  width: 53px;
}
body #matchup > p {
  font-size: 3em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
body #matchup #p1, body #matchup #p2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
body #countdown {
  font-size: 7em;
}
body #top-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 60px;
  margin: 10px auto;
}
body #board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 440px;
  background-color: #166bfa;
  border: 9px solid black;
  border-radius: 4%;
  margin: 0 auto;
}
body #board > div {
  border-radius: 50%;
}
body #board .show-col {
  background-color: #166bfa;
  opacity: 0.5;
}
body .circle {
  height: 60px;
  width: 60px;
  margin: 8px;
  border-radius: 50%;
  border: 5px solid black;
}
body .invisible-circle {
  height: 60px;
  width: 60px;
  margin: 8px;
}
body .win-circle {
  border: 5px solid #05f83b;
}
body #end-game-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0.96;
}
body #end-game-modal .modal-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 280px;
  background-color: white;
  border-radius: 4%;
  padding: 20px;
  text-align: center;
  z-index: 2;
}
body #end-game-modal h2 {
  font-size: 2.8em;
}
body #end-game-modal h3 {
  font-size: 1.6em;
}
body #end-game-modal p {
  font-size: 1.2em;
}
body #end-game-modal #btn-group {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  height: 40px;
  width: 100%;
  z-index: 2;
}
body #end-game-modal #btn-group > button {
  align-self: flex-end;
  text-align: center;
  font-family: fantasy;
  background-color: #2710d3;
  font-size: 1em;
  width: 75%;
  height: 100%;
  margin: 10px;
  border: 4px solid black;
  transition: transform 0.15s ease-in-out;
}
body #end-game-modal #btn-group > button:hover {
  opacity: 0.8;
  cursor: pointer;
  transform: scale(1.1);
}

@keyframes buttonClick {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
.clicked {
  animation: buttonClick 0.2s ease-in-out;
}

.circle-fall {
  animation: fall;
}

.white-title {
  color: white;
}

.green-title {
  color: #05f83b;
}

.red-title {
  color: red;
}

.yellow-title {
  color: #eeea02;
}

.red-circle {
  background-color: red;
}

.yellow-circle {
  background-color: yellow;
}

.purple-circle {
  background-color: #2710d3;
}

.raindrop {
  position: absolute;
  width: 10px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
  animation: falling 1s ease-in-out infinite;
}

/*# sourceMappingURL=game-page.css.map */
